spring:
  datasource:
    url: jdbc:postgresql://db.herratmohdcmsyhgimpl.supabase.co:5432/postgres
    username: postgres
    password: "@Subhamkr077"
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  redis:
    host: localhost
    port: 6379

jwt:
  secret: your-super-secret-jwt-key-here-make-it-32-characters-long-at-least
  expiration: 86400000

server:
  port: 8080

springdoc:
  swagger-ui:
    path: /swagger-ui.html
