spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/bus_tracker
    username: postgres
    password: 123456  # Change to your PostgreSQL password
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: create-drop  # Creates tables automatically
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  redis:
    host: localhost
    port: 6379

server:
  port: 8080

jwt:
  secret: mySecretKeyForBusTrackerApp1234567890
